<div class="topic-new-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1 class="text-center">Add Picture</h1>
                <%= form_for @topic do |f| %>
                <div class="form-group">
                    <%= f.label :image %>
                    <%= f.file_field :image %>
                </div>
                
                <div class="form-group">
                    <% f.label :description %>
                    <%= f.text_area :description, class: 'form-control' %>
                </div>
                <%= f.submit '投稿', class: 'btn btn-black btn-block' %>
                
                <% end %>
            </div>
        </div>
    </div>
</div>
<div class="topic-index-wrapper">
    <div class="container">
        <% @topics.each do |topic| %>
        <div class="col-md-6 col-md-offset-3">
            <div class="topic-index-single">
                <h2 class="topic-author">
                    <%= topic.user.name %>
                </h2>
                <%= image_tag topic.image.url %>
                <%= image_tag 'icons/hert-black.png', class: 'topic-index-icon' %>
                <p class="topic-text">
                    <%= topic.description %>
                </p>
            </div>
        </div>
    </div>
</div>